<div>
  <p-toast></p-toast>
  <p-toolbar styleClass="yarn-world-toolbar shadow-2">
    <ng-template pTemplate="start">
      <a href="patterns" class="flex align-items-center text-primary-100 no-underline">
        <img src="assets/images/logo.png" />
        <h1 class="yarn-world-toolbar-logo-title">Yarn World</h1>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div *ngIf="currentUser" class="flex align-items-center gap-2">
        <span *ngIf="currentUser" class="font-bold text-bluegray-50">{{currentUser.firstName}} {{
          currentUser.lastName}}</span>
        <button pButton class="p-button-rounded p-nutton-text p-button-raised p-button-neutral" icon="pi pi-user"
          (click)="menu.toggle($event)"></button>
        <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
      </div>
    </ng-template>
  </p-toolbar>
  <div class="yarn-world-content">
    <router-outlet></router-outlet>
  </div>
</div>