.yarn-world-toolbar {
    background-color: var(--primary-500);
    border-color: var(--primary-500);

    img {
        max-height: 3rem;
    }
}

.yarn-world-toolbar-logo-title {
    color: var(--primary-100);
}

.yarn-world-content {
    padding: 1rem;
}